*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.p-relative{
  position: absolute;
}

/* header */

header{
  background-color: orangered;
}

nav{
  height: 3rem;
}

nav ul li{
  display: inline;
}
/* end header */

/* main */
main{
  display: flex;
}

main section{
  margin-top: 2rem;
  width: calc(100% / 3 - 1rem);
}

figure{
  position: relative;
}

main img{
  width: 100%;
}

div.heart{
  top: .5rem;
  right: 0;
  padding: .5rem 1rem;
  background-color: white;
}

div.discount{
  bottom: 2rem;
}

span.red{
  background-color: red;
}

span.green{
  background-color: green;
}
/* end main */

/* footer */
footer{
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}