*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.p-relative{
  position: absolute;
}

ul li{
  display: inline;
  list-style: none;
  margin-right: .5rem;
}
/* header */

header{
  background-color: #ff6900;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav{
  height: 3rem;
}


header img{
  height: 50%;
}
/* end header */

/* main */
main{
  padding-top:3rem ;
  display: flex;
}

main section{
  margin-top: 2rem;
  width: calc(100% / 3 - 1rem);
}

figure{
  position: relative;
}

main img{
  width: 100%;
}

div.heart{
  font-size: 2rem;
  top: .5rem;
  right: 0;
  padding: .3rem .7rem;
  background-color: white;
}

div.discount{
  bottom: 2rem;
}

div.discount,
figcaption{
  font-size: .8rem;
}

div.discount span{
  padding: .2rem;
  color: white;
  font-weight: bolders;
}

span.red{
  background-color: red;
}

span.green{
  background-color: green;
}

figcaption{
  color: gray;
}

main section h2{
  font-size: 0.8rem;
  text-transform: uppercase;
}

div.price{
  font-weight: bolder;
  color: red;
}

div.price span{
text-decoration: line-through black;
color: gray;
}

img.second{
  display: none;
}

section:hover img.first{
  display: none;
}

section:hover img.second{
  display: inline-block;
  cursor: pointer;
}

div.heart:hover{
  color: red;
  cursor: pointer;
}
/* end main */

/* footer */
footer{
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.7rem;
}

footer h2,
footer h3{
  margin-bottom: 0.4rem;
}

footer i{
  font-size: 1rem;
  margin-right: 0.4rem;
}

